<div class="card">
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <img src="assets/images/logo.svg" height="30" width="30" alt="JBR"/>
        <a class='navbar-brand'>Management</a>
        <ul class='nav nav-pills'>
            <li><a class='nav-link' routerLink='ingredienttype'>Ingredient Type</a></li>
            <li><a class='nav-link' routerLink='ingredient'>Ingredients</a></li>
            <li><a class='nav-link' routerLink='settings'>Settings</a></li>
            <li><a class='nav-link' routerLink='users'>Users</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
