# https://wiki.ubuntu.com/SystemdForUpstartUsers
# JBR Sandwich Service

[Unit]
Description=JBR Sandwich Service (DEV)
After=mysql.service

[Service]
ExecStart=/usr/bin/java -Xms768M -Xmx768M -Dspring.profiles.active=dev -jar /usr/bin/jbr/dev/Sandwich-DEV-onejar.jar

[Install]
WantedBy=multi-user.target
