<div class="card">
    <div class="card-body">
        <div *ngIf="settings && settings.length">
            <div class="row">
                <div class="col-6">
                    <div class="row user-cell" *ngFor="let setting of settings; let i = index">
                        <label>{{setting.name}}</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row user-cell" *ngFor="let setting of settings; let i = index">
                        <label>{{setting.value}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
